[mysqld]
bind-address=0.0.0.0
federated
lower_case_table_names=1
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
open_files_limit = 20000
show_compatibility_56 = ON
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log
# By default we only accept connections from localhost

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


[client]
user=root
password=

!includedir /etc/mysql/conf.d/
